<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.8.5"></script>



{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'testdb/style.css' %}" />

<html>
  <head>
    <title>{% block title %} My amazing site {% endblock %}</title>
  </head>

  <body>
    <div id="sidebar">
      {% block sidebar %}
      <ul>
        <li><a href="/home/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
      {% endblock %}
    </div>

 <div class="py-5 px-4 sm:px-6 max-w-5xl mx-auto">{% block content %}{% endblock %}</div>


    <!-- HTMX+django csrf token -->
    <script>
        document.body.addEventListener("htmx:configRequest", (event) => {
            event.detail.headers['X-CSRFToken'] = "{{ csrf_token }}";
        }) 
    </script>
      

  </body>
</html>
